[submodule "deps/safetyhook"]
	path = deps/safetyhook
	url = https://github.com/cursey/safetyhook.git
[submodule "deps/zydis"]
	path = deps/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "deps/squirrel"]
	path = deps/squirrel
	url = https://github.com/albertodemichelis/squirrel.git
